<% provide(:title, "新規面接作成") %>
<%= render 'error_message' %>
<h1>新規面接作成</h1>

<%= form_for [@user, @interview] do |f| %>

  <%= f.label :interview_date, "日時追加" %><br>
  <%= f.datetime_select :interview_date %>

  <%= f.submit "新規面接作成" %>
<% end %>
